.label {
  width: 100%;
  min-height: 75px;
  display: flex;
  flex-direction: column;
}

.input {
  height: 50px;
  width: 100%;

  padding: 0 20px;

  appearance: none;

  color: var(--border-color);
  font-size: 18px;
  font-weight: 700;

  background-color: var(--confirm-background-color);
  border: 3px solid var(--border-color);
  border-radius: 15px 0 15px 15px;

  transition: background-color 180ms ease-in-out;
}

.input::placeholder {
  font: inherit;
  font-weight: 600;
  color: var(--main-background-color);
}

.input:focus-visible {
  background-color: var(--hover-background-color);
}

.errorMessage {
  text-indent: 20px;
  font-size: 18px;
}

.wrapper {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
}

.eyeBtn {
  position: absolute;
  right: 26px;

  appearance: none;
  background: unset;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  cursor: pointer;
}
