*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  @include visually-hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scrollbar-color: var(--confirm-background-color) var(--border-color);
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background: linear-gradient(
      to right,
      transparent 40%,
      var(--border-color) 40%,
      var(--border-color) 60%,
      transparent 60%
    );
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid var(--border-color);
    background-color: var(--confirm-background-color);

    &:active {
      background-color: var(--hover-background-color);
    }
  }
  ::-webkit-scrollbar-button {
    height: 12px;
  }
}

body {
  font-family: "CutiveMono", "Georgia", serif, system-ui;
  font-weight: 400;
  color: var(--main-text-color);

  min-width: 320px;
  overflow-x: hidden;

  background-image: url("../../assets/images/background-fragment.png");
  background-repeat: repeat;
  background-color: var(--main-background-color);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

.container {
  width: 1260px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a {
  font-size: 24px;
  color: var(--hover-background-color);
  text-shadow: var(--text-shadow-bold);

  transition: color 180ms ease-in-out;

  &:hover,
  &:focus-visible,
  &.active {
    color: var(--confirm-background-color);
  }

  &:not([href]) {
    pointer-events: none;
  }
}

#root {
  position: relative;

  height: 100vh;
  padding: 15px;

  display: flex;
  flex-direction: column;

  @media screen and (min-width: 480px) {
    padding: 20px;
  }
}

.rdtPicker {
  border-radius: 8px;
  td {
    font-size: 19px;
  }
}

.noData {
  width: 100%;
  font-family: "MokotoGlitch", "Georgia", fantasy, system-ui;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #fdfd01;
  text-shadow: 0px 6px 4px #5fa7c0;
  margin: 0 0 10px;
  cursor: default;
  padding: 0 5px;
  margin-bottom: 80px;
  text-align: left;
  @media screen and (min-width: 420px) {
    font-size: 25px;
  }
  @media screen and (min-width: 656px) {
    font-size: 40px;
  }
}
