@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}

@mixin v-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

@mixin v-shown {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}
