.cardBlock {
  --cardWidth: 480px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: var(--cardWidth);
  height: calc(var(--cardWidth) * 0.6);
  padding: 40px 15px 12px;

  cursor: default;

  border: 3px solid var(--confirm-background-color);
  border-radius: calc(var(--cardWidth) * 0.04);
  background: url(../../assets/images/card-bg.png) no-repeat;
  background-size: cover;
  box-shadow: 0 5px 4px 3px var(--border-color);
}

.cardNumber {
  font-family: "CutiveMono", "Georgia", serif, system-ui;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 5px;
  color: var(--hover-background-color);
  text-shadow: var(--text-shadow-bold);
}

.cardBalance {
  position: relative;

  font-family: "BebasNeue", "Arial", sans-serif, system-ui;
  font-weight: 400;
  font-size: 56px;
  line-height: 1.2;
  color: var(--confirm-background-color);
  text-shadow: var(--text-shadow-bold);
}

.cardName {
  align-self: flex-start;

  font-family: "MokotoGlitch", "Georgia", fantasy, system-ui;
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--hover-background-color);
  text-shadow: var(--text-shadow-bold);
}
