.cardBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  background: url(../../assets/images/card-bg.png) no-repeat;
  background-size: cover;
  border: 3px solid #fdfd01;
  box-shadow: 0 5px 4px 3px #000000;
  border-radius: 25px;
  padding: 60px 12px 60px;
  min-height: 189px;
  cursor: default;
  @media (min-width: 640px) {
    min-height: unset;
    border-radius: 30px;
    width: auto;
  }
  @media (min-width: 992px) {
    width: 100%;
    border-radius: 40px;
    padding: 58px 8px 60px;
  }
  .cardNumber {
    font-family: "CutiveMono", "Georgia", serif, system-ui;
    font-weight: 400;
    font-size: 7vw;
    line-height: 1;
    color: #00fff0;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    text-shadow: -0 -2px 0 #000000, 0 -2px 0 #000000, -0 2px 0 #000000,
      0 2px 0 #000000, -2px -0 0 #000000, 2px -0 0 #000000, -2px 0 0 #000000,
      2px 0 0 #000000, -1px -2px 0 #000000, 1px -2px 0 #000000,
      -1px 2px 0 #000000, 1px 2px 0 #000000, -2px -1px 0 #000000,
      2px -1px 0 #000000, -2px 1px 0 #000000, 2px 1px 0 #000000,
      -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
      2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000,
      -2px 2px 0 #000000, 2px 2px 0 #000000;
    margin-bottom: 8px;
    @media (min-width: 640px) {
      font-size: 19px;
    }
    @media (min-width: 992px) {
      font-size: 25px;
    }
    @media (min-width: 1100px) {
      font-size: 27px;
    }
  }
  .cardInfo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 16px;
    .cardMember {
      font-family: "BebasNeue", "Arial", sans-serif, system-ui;
      font-weight: 400;
      font-size: 7vw;
      line-height: 1.2;
      color: #fdfd01;
      text-shadow: -0 -2px 0 #000000, 0 -2px 0 #000000, -0 2px 0 #000000,
        0 2px 0 #000000, -2px -0 0 #000000, 2px -0 0 #000000, -2px 0 0 #000000,
        2px 0 0 #000000, -1px -2px 0 #000000, 1px -2px 0 #000000,
        -1px 2px 0 #000000, 1px 2px 0 #000000, -2px -1px 0 #000000,
        2px -1px 0 #000000, -2px 1px 0 #000000, 2px 1px 0 #000000,
        -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
        2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000,
        -2px 2px 0 #000000, 2px 2px 0 #000000;
      @media (min-width: 576px) {
        font-size: 24px;
      }
      @media (min-width: 768px) {
        font-size: 28px;
      }
    }
    .cardCode {
      position: relative;
      font-family: "MokotoGlitch", "Georgia", fantasy, system-ui;
      font-weight: normal;
      font-size: 4.5vw;
      line-height: 2;
      color: #00fff0;
      user-select: none;
      cursor: pointer;
      text-shadow: -0 -2px 0 #000000, 0 -2px 0 #000000, -0 2px 0 #000000,
        0 2px 0 #000000, -2px -0 0 #000000, 2px -0 0 #000000, -2px 0 0 #000000,
        2px 0 0 #000000, -1px -2px 0 #000000, 1px -2px 0 #000000,
        -1px 2px 0 #000000, 1px 2px 0 #000000, -2px -1px 0 #000000,
        2px -1px 0 #000000, -2px 1px 0 #000000, 2px 1px 0 #000000,
        -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
        2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000,
        -2px 2px 0 #000000, 2px 2px 0 #000000;
      @media (min-width: 576px) {
        font-size: 15px;
      }
      @media (min-width: 768px) {
        font-size: 15px;
      }
      &:hover, &:active, &:focus {
        ul {
          display: block;
          height: max-content;
        }
      }

      ul {
        position: absolute;
        top: 100%;
        right: 0;
        margin: 0;
        padding: 0;
        transform: 0.4s;
        display: none;
        height: 0;
        li {
          list-style: none;
          font-size: 12px;
          line-height: 1.4;
          text-align: right;
        }
      }
    }
  }
}
