.wrapper {
  width: 480px;
  padding: 12px 20px;

  border: 3px solid var(--confirm-background-color);
  border-radius: 25px 0 25px 25px;
  background-image: url("../../assets/images/background-fragment.png");
  background-repeat: repeat;
  background-color: var(--main-background-color);
  filter: drop-shadow(0px 4px 4px var(--confirm-background-color));
}

.wrapper > *:not(:last-child) {
  margin-bottom: 20px;
}

.name {
  font-family: "MokotoGlitch", "Georgia", fantasy, system-ui;
  font-size: 40px;
  font-weight: 700;
  color: var(--confirm-background-color);
  text-transform: uppercase;
  text-shadow: 0 6px 4px var(--logo-shadow-color);
}

.description {
  font-family: "MokotoGlitch", "Georgia", fantasy, system-ui;
  font-size: 16px;
  font-weight: 700;
  color: var(--hover-background-color);
  text-transform: uppercase;
}
