.btnTransaction {
  display: flex;
  align-items: center;
  background-color: #4141b3;
  background-image: url(../../assets/images/background-fragment.png);
  background-repeat: repeat;
  border: 3px solid #fdfd01;
  box-shadow: 4px 6px 4px #fdfd013f;
  border-radius: 25px 0px 25px 25px;
  line-height: 1;
  height: 40px;
  color: #fdfd01;
  text-shadow: none;
  font-size: 21px;
  font-weight: 400;
  max-width: max-content;
  min-width: unset;
  margin-bottom: 18px;
  position: fixed;
  left: 22px;
  bottom: 84px;
  &:hover {
    background-color: #4141b3;
  }
  @media (min-width: 640px) {
    position: unset;
    right: unset;
    bottom: unset;
    width: unset;
    margin-bottom: unset;
  }
  @media (min-width: 992px) {
    font-size: 24px;
  }

  span {
    display: none;
    @media (min-width: 640px) {
      display: block;
      margin-left: 5px;
    }
  }
}
