.mainSectionBlock {
  //flex: 1;
  width: 1260px;
  max-width: 100%;
  //padding: 13px 15px 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  order: 3;
  @media (min-width: 656px) {
    order: 2;
  }
  .currencyInfoBlock {
    order: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 75px 0 16px;
    @media (min-width: 576px) {
      flex-direction: row;
      justify-content: center;
      padding-top: 100px;
    }
    
    @media (min-width: 656px) {
      padding-top: 10px;
    }
    @media (min-width: 992px) {
      flex-direction: column;
      justify-content: flex-start;
      width: 320px;
      order: 2;
      padding: 0;
    }
    @media (min-width: 1100px) {
      width: 340px;
      // align-self: start;
    }
  }
  .mainBlock {
    order: 2;
    width: 100%;
    @media (min-width: 992px) {
      order: 1;
      width: calc(100% - 337px);
    }
    @media (min-width: 1100px) {
      width: calc(100% - 365px);
    }
  }
}

.transactionsContainer {
  display: flex;
  flex-direction: column-reverse;
  @media (min-width: 656px) {
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
  }
}
