.wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.modal {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  max-width: calc(100% - 40px);
  width: 600px;
  padding: 20px;

  border: 3px solid var(--border-color);
  border-radius: 25px 0 25px 25px;
  box-shadow: 0 4px 4px var(--border-color);
  background-color: var(--confirm-background-color);

  @media (min-width: 576px) {
    padding: 20px 40px 30px;
    gap: 18px;
  }
}

.buttonClose {
  appearance: none;

  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  color: var(--remove-background-color);
  fill: var(--remove-background-color);;

  border: unset;
  background-color: unset;

  cursor: pointer;

  &:hover,
  &:focus-visible {
    transform: scale(1.1) rotate(5deg);
  }

  svg {
    height: 30px;
    width: 30px;
  }
}

.title {
  margin: 0;
  padding: 0 20px;
  font-family: "MokotoGlitch", "Georgia", fantasy, system-ui;
  text-shadow: 0 4px 4px var(--hover-background-color);
  font-weight: normal;
  font-size: 45px;
  line-height: 1.2;
  color: var(--border-color);

  @media screen and (max-width: 480px) {
    font-size: 9vw;
  }
}

.message {
  font-family: "CutiveMono", "Georgia", serif, system-ui;
  font-weight: 700;
  font-size: 19px;
  letter-spacing: -0.08em;
  text-indent: 20px;
  color: var(--dark-text-color);
  max-width: 300px;
  text-align: center;

  @media screen and (min-width: 576px) {
    font-size: 21px;
    max-width: 400px;
  }

  @media screen and (min-width: 640px) {
    text-align: left;
  }
}

.navSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
  gap: 10px;
  width: 100%;
}

.buttonEdit {
  background-color: var(--main-background-color);
}

.buttonRemove {
  background-color: var(--remove-background-color);
}

.buttonRemove,
.buttonEdit {
  @media screen and (max-width: 575px) {
    height: 36px;
    min-width: 130px;
    min-height: unset;

    padding: 0 10px;

    font-size: 20px;
    border-width: 2px;
    border-radius: 15px 0 15px 15px;
  }

  @media screen and (max-width: 768px) {
    &:active {
      background-color: var(--hover-background-color);
    }

    &::before,
    &::after {
      content: none;
    }

    &:hover,
    &:focus-visible {
      transform: unset;
    }
  }
}

.table {
  color: var(--dark-text-color);
  font-size: 18px;
  font-weight: 700;

  @media screen and (min-width: 576px) {
    font-size: 22px;
  }
}
