.currencyWidget {
  flex-direction: column;
  margin: 0;
  width: 100%;

  @media (min-width: 576px) {
    max-width: 360px;
    flex-direction: row;
    justify-content: end;
    flex-wrap: wrap;
  }

  @media (min-width: 640px) {
    display: flex;
  }

  @media (min-width: 992px) {
    width: 100%;
  }

  table {
    position: relative;
    width: 100%;
    border-spacing: 0 15px;
    border-collapse: collapse;

    &::before {
      content: "";

      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;

      display: block;

      width: 100%;
      height: 100%;

      border: 3px solid #fdfd01;
      border-radius: 25px 0 25px 25px;

      background-color: #f3c10a;
      background-image: url(../../assets/images/background-fragment.png);
      box-shadow: 0 5px 4px 3px #000000;
    }

    thead {
      position: relative;
      top: 0;
      z-index: 1;
      cursor: default;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
        box-shadow: 4px 6px 4px #fdfd013f;
        border-radius: 25px 0 25px 25px;
        background-color: #f3c10a;
        background-image: url(../../assets/images/background-fragment.png);
      }

      tr {
        position: relative;
        background-repeat: repeat;
        box-shadow: inset 0 0 0 3px #fdfd01;
        border-radius: 25px 0 25px 25px;
        font-size: 20px;

        th {
          text-align: left;
          padding: 15px 0 15px 15px;
          color: #fdfd01;
          text-shadow: 0 -2px 0 #000000, 0 -2px 0 #000000, 0 2px 0 #000000,
          0 2px 0 #000000, -2px 0 0 #000000, 2px 0 0 #000000, -2px 0 0 #000000,
          2px 0 0 #000000, -1px -2px 0 #000000, 1px -2px 0 #000000,
          -1px 2px 0 #000000, 1px 2px 0 #000000, -2px -1px 0 #000000,
          2px -1px 0 #000000, -2px 1px 0 #000000, 2px 1px 0 #000000,
          -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
          2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000,
          -2px 2px 0 #000000, 2px 2px 0 #000000;

          svg {
            fill: #fdfd01;
            filter: drop-shadow(3px 3px 2px #000000b5);
          }
        }
      }
    }

    tbody {
      tr {
        &:first-of-type {
          td {
            padding-top: 20px;
            @media (min-width: 768px) {
              padding-top: 10px;
            }
          }
        }

        &:last-of-type {
          td {
            padding-bottom: 20px;
            @media (min-width: 768px) {
              padding-bottom: 10px;
            }
          }
        }

        td {
          font-family: "BebasNeue", "Arial", sans-serif, system-ui;
          font-weight: 400;
          font-size: 20px;
          line-height: 1.2;
          color: #00fff0;
          text-shadow: -0 -2px 0 #000000, 0 -2px 0 #000000, -0 2px 0 #000000,
          0 2px 0 #000000, -2px -0 0 #000000, 2px -0 0 #000000,
          -2px 0 0 #000000, 2px 0 0 #000000, -1px -2px 0 #000000,
          1px -2px 0 #000000, -1px 2px 0 #000000, 1px 2px 0 #000000,
          -2px -1px 0 #000000, 2px -1px 0 #000000, -2px 1px 0 #000000,
          2px 1px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000,
          -2px 2px 0 #000000, 2px 2px 0 #000000, -2px -2px 0 #000000,
          2px -2px 0 #000000, -2px 2px 0 #000000, 2px 2px 0 #000000;
          padding: 10px 0 0 15px;
          @media (min-width: 768px) {
            font-size: 27px;
            padding: 0 0 0 15px;
          }
          @media (min-width: 992px) {
            font-size: 30px;
          }
        }
      }
    }
  }
}
