.statisticsBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  flex-grow: 1;
  max-width: 350px;
  align-self: center;

  canvas {
    width: 350px;
    max-width: 100%;
    @media (min-width: 992px) {
      width: 450px;
    }
  }
}

.form {
  display: flex;
  gap: 16px;
}

@media screen and (min-width: 640px) {
  .statisticsBlock {
    flex-direction: row;
    flex-wrap: nowrap;

    max-height: calc(100vh - 450px);
    overflow-y: auto;
  }

  .statistics {
    align-self: flex-start;

    canvas {
      width: auto;
    }
  }
}

@media screen and (min-width: 767px) {
  .statisticsBlock {
    max-height: calc(100vh - 465px);
  }
}

@media screen and (min-width: 992px) {
  .statisticsBlock {
    max-height: calc(100vh - 260px);
  }

  .statistics {
    max-width: 400px;
  }
}
